---
import HostageCounter from '../islands/HostageCounter.astro';
import LiveClock from '../islands/LiveClock.astro';
---
<div class="header">
    <HostageCounter />
    <button class="mobile-menu-btn" id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <a href="/" class="logo"><img src="/images/logo.png" alt="Ohr HaTorah Logo" class="logo-image"></a>
    <LiveClock />
</div>
