---
// Hostage Memorial - Prayer for Israel
---
<div class="hostage-info">
    <div class="hostage-counter">
        <div class="hostage-header">
            <span class="hostage-text"><img src="/images/Flag_of_Israel.svg.png" alt="Israeli Flag" class="hostage-flag">PRAY FOR ISRAEL</span>
            <span class="hostage-subtext">PRAY FOR HEALING & PEACE</span>
        </div>
        <div class="hostage-memorial">
            <div class="memorial-stat">
                <span class="memorial-number">251</span>
                <span class="memorial-label">TAKEN</span>
            </div>
            <div class="memorial-stat">
                <span class="memorial-number">20</span>
                <span class="memorial-label">FREED</span>
            </div>
            <div class="memorial-stat">
                <span class="memorial-number">3</span>
                <span class="memorial-label">REMAIN</span>
            </div>
        </div>
        <div class="hostage-footer">
            <span class="bring-them-home">AM YISRAEL CHAI</span>
        </div>
    </div>
</div>
